{% extends 'master/layout.html' %}

{% block content %}
<style>
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .content {
        padding: 47px 26px 18px;
    }

    .btn-add {
        background-color: #2ecc71;
        color: white;
        border: none;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        padding: 1px 1px;
        margin-bottom: 30px;
    }

    .employee-table {
        width: 100%;
        border-collapse: collapse;
    }

        .employee-table th {
            border: 1px solid #ccc;
            padding: 1px;
            text-align: center;
            font-size: 12px;
        }

        .employee-table td {
            border: 1px solid #ccc;
            padding: 1px;
            text-align: center;
            font-size: 9px;
        }
</style>

<div class="top-bar">
    <h2>Employee List</h2>
    <a href="{% url 'employee_add_view' %}" class="btn-add">➕ Add employee</a>
</div>

<table class="employee-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date Joined</th>
        </tr>
    </thead>
    <tbody>
        {% for Employee in Employees %}
        <tr>
            <td>{{ Employee.first_name }}</td>
            <td>{{ Employee.last_name }}</td>
            <td>{{ Employee.email }}</td>
            <td>{{ Employee.phone }}</td>
            <td>{{ Employee.date_joined }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
