{% extends 'master/layout.html' %}

{% block content %}
<style>
    table {
        width: 85%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        margin-left: 80px;
    }

    th {
        border: 1px solid #ddd;
        padding: 1px;
        text-align: center;
        font-weight: 200;
        font-size: 12px;
    }

    td {
        border: 1px solid #ddd;
        padding: 1px;
        text-align: center;
        font-weight: 200;
        font-size: 9px;
    }
    .sidebar a {
        color: white;
        text-decoration: none;
        padding: 12px 8px;
        display: block;
        font-weight: 500;
    }
    th {
        background-color: #007bff;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .btn-add {
        text-decoration: none;
        padding: 2px 7px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        font-size: 11px;
        font-weight: bold;
        margin-right: 82px;
        margin-top: 24px;
    }

        .btn-add:hover {
            background-color: #0056b3;
        }

    .empty {
        text-align: center;
        color: gray;
        margin-top: 20px;
    }

    .content {
        padding: 40px 20px 18px;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-left: 435px;
    }

    .top-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .content {
        padding: 48px 20px 18px;
    }
</style>

<div class="top-actions">
    <h2>Semester List</h2>
    <a href="{% url 'semester_add' %}" class="btn-add">➕ Add Semester</a>
</div>

{% if semesters %}
<table>
    <thead>
        <tr>
            <th>Semester</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        {% for semester in semesters %}
        <tr>
            <td>{{ semester.number }}</td>
            <td>{{ semester.course.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="empty">No semesters available.</p>
{% endif %}

{% endblock %}
